# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
process.env.REACT_APP_GITHUB_TOKEN = "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"

npm-debug.log*
yarn-debug.log*
yarn-error.log*
